.page-body {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-alice-blue-background;
}

.page-body__lock {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
