// Colors
// ---------------------------------

// Default

$color-black-pearl:                 #041827;
$color-black-pearl-second:          #041427;
$color-white:                       #ffffff;
$color-deep-sky-blue:               #00b2ff;
$color-deep-sky-blue-second:        #00b3ff;
$color-alice-blue:                  #f2f5f6;
$color-alice-blue-background:       #f8fdff;

// Viewports
// ---------------------------------

$vp-768:                            768px;
$vp-1024:                           1024px;

// Retina
// ---------------------------------

$retina-dppx:                       2dppx;
